* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px;
}

.board {
    height: 802px;
    width: 802px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    background-image: url(image/background.png);
    background-position: 50% 50%;
    background-size: cover; 
}

.tile-board {
    width: 40px;
    height: 40px;
}

.part-of-the-snake {
    background-color: rebeccapurple;
    border: 1px solid white;
}

.lose-screen {
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 50px;
    top: 40%;
}

.is-transparent {
    opacity: 0.5;
}

.point-element {
    width: 40px;
    height: 40px;
    background-image: url(image/apple-point.png);
    background-position: 50% 50%;
    background-size: cover; 
}

.point {
    font-size: 30px;
    margin-top: 20px;
}

.container section {
    display: flex;
    justify-content: space-between;
    width: 800px;
}

button {
    height: 40px;
    width: 120px;
    border: 1px solid black;
    outline: none;
    margin-top: 20px;
    margin-right: 20px;
    background-color: white;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.snake-tail {
    background-image: url(image/snake-tail.png);
    background-position: 50% 50%;
    background-size: cover; 
}

.snake-torso {
    background-image: url(image/snake-torso.png);
    background-position: 50% 50%;
    background-size: cover; 
}

.snake-head {
    background-image: url(image/snake-head.png);
    background-position: 50% 50%;
    background-size: cover; 
}

.snake-edge {
    background-image: url(image/snake-edge.png);
    background-position: 50% 50%;
    background-size: cover; 
}

.direction-up {
    transform: rotate(0deg);
}

.direction-down {
    transform: rotate(180deg);
}

.direction-left {
    transform: rotate(-90deg);
}

.direction-right {
    transform: rotate(90deg);
}

.bush-1 { 
    background-position: 50% 50%;
    background-size: cover; 
    background-image: url(image/bush-11.png)
}

.bush-2 { 
    background-position: 50% 50%;
    background-size: cover; 
    background-image: url(image/bush-22.png)

}

.bush-3 { 
    background-position: 50% 50%;
    background-size: cover; 
    background-image: url(image/bush-33.png)

}

.bush-4 { 
    background-position: 50% 50%;
    background-size: cover; 
    background-image: url(image/bush-44.png)

}

