* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px;
}

.board {
    height: 802px;
    width: 802px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black
}

.tile-board {
    width: 40px;
    height: 40px;
}

.part-of-the-snake {
    background-color: rebeccapurple;
    border: 1px solid white;
    z-index: 2;
}

.lose-screen {
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 50px;
    top: 40%;
}

.is-transparent {
    opacity: 0.5;
}

.point-element {
    width: 40px;
    height: 40px;
    background-image: url(image/point-icon.jpg);
    background-position: 50% 50%;
    background-size: cover; 
}

.point {
    font-size: 30px;
    margin-top: 20px;
}

.container section {
    display: flex;
    justify-content: space-between;
    width: 800px;
}

button {
    height: 40px;
    width: 120px;
    border: 1px solid black;
    outline: none;
    margin-top: 20px;
    margin-right: 20px;
    background-color: white;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}